<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>112003136443-t2f1ucu2er41k32ka7icck8dp0ascbsc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.112003136443-t2f1ucu2er41k32ka7icck8dp0ascbsc</string>
	<key>API_KEY</key>
	<string>AIzaSyBnRMDHwDHoZ43UaNRoiDq6mTkOld1sHkQ</string>
	<key>GCM_SENDER_ID</key>
	<string>112003136443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.nimblehq.taher.survey.ic</string>
	<key>PROJECT_ID</key>
	<string>survey-ic-taher</string>
	<key>STORAGE_BUCKET</key>
	<string>survey-ic-taher.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:112003136443:ios:fc7ef59cf7bdcc44cca29e</string>
</dict>
</plist>